*{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    /*box-sizing: border-box;*/
}

#CompanyAdvertise{
background: url("login-page-image.jpg");
background-size: cover;
background-attachment: scroll;
background-position: center center;
}

#LoginandSignup{

}

.fullheightcolumn{
    height:100vh;
}

.torq{
    background-color: rgb(26, 188, 156);
}

.emerald{
    background: rgb(46, 204, 113);
}

.sunflower{
    background: rgb(241, 196, 15);
}

.carrot{
    background: rgb(230, 126, 34);
}

.concrete{
    background: rgb(149, 165, 166);
}

.midblue{
    background: rgb(44, 62, 80);
}

.river{
    background: rgb(52, 152, 219);
}


.pumpkin{
    background: rgb(211, 84, 0);
}

.height40{
height: 40px;
}


.height80{
height: 80px;
}
